<div class="flex justify-between items-center px-4 py-3 bg-gray-100">
  <div class="flex items-center">
    <%= link_to projects_path do %>
      <h1 class="text-3xl font-bold">Projects</h1>
    <% end %>
  </div>
  <div class="flex items-center">
    <% unless current_page?(new_project_path) %>
      <%= link_to new_project_path, class: "mr-4" do %>
        <i class="fas fa-plus-circle mr-2"></i>
        New Project
      <% end %>
    <% end %>
    <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
      <i class="fas fa-sign-out-alt mr-2"></i>
      Logout
    <% end %>
  </div>
</div>
