<div class="max-w-md mx-auto mt-20 bg-white rounded-md overflow-hidden shadow-md">
      <div class="text-center text-3xl font-bold text-gray-800 py-6">Welcome to Project Conversation History</div>
      <div class="px-6 py-8">
        <div class="text-center mb-8">
          <%= link_to "Sign in", new_user_session_path, class: "text-gray-500 font-medium hover:text-gray-900" %>
          <span class="text-gray-500 font-medium mx-2">or</span>
          <%= link_to "Sign up", new_user_registration_path, class: "text-gray-500 font-medium hover:text-gray-900" %>
        </div>
        <p class="text-gray-500 text-sm">Login or sign up to continue</p>
      </div>
    </div>
